In [ ]:
import pandas as pd

In [ ]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School','Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']
type_of_school = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter', 'Charter']

In [ ]:
schools_df = pd.DataFrame()

In [24]:
schools_df['School ID'] = school_id
schools_df

    School ID
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13         13
14         14

In [21]:
school_name_df["School Name"] = school_name
schools_df

NameError: name 'schools_name_df' is not defined